.ChordControls {
  height: 55px;
  position: sticky;
  bottom: 0;
}

.ChordControls.minimized {
  margin-top: -25px;
  padding-top: 25px;
  bottom: -55px;
  height: 105px;
}

.ChordControls .tray-saver {
  position: absolute;
  width: 45px;
  height: 26px;
  z-index: 2;
  right: -1rem;
  border-radius: 8px 8px 0 0;
}

.ChordControls.minimized .controls-tray {
  border-radius: 8px 0 0 0;
}

.ChordControls .tray-saver button {
  padding: 0;
  width: 100%;
  line-height: 0;
}

.ChordControls .controls-tray {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 25px;
  opacity: 0.97;
  padding: 5px 15px;
  height: 55px;
  margin-left: -1rem;
  margin-right: -1rem;
  border-radius: 8px;
}

.ChordControls .controls-container-holder {
  width: calc(100% - 42px);
  float: left;
  overflow: hidden;
  height: 40px;
  scrollbar-width: none;
}

.ChordControls .controls-container {
  display: inline-block;
  margin-left: 25px;
}

.ChordControls .controls-container:nth-child(1) {
  margin-left: 0;
}

.ChordControls .feature-label {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
}

.ChordControls .amount {
  font-size: 90%;
  position: absolute;
  margin-top: -5px;
}

.ChordControls .btn-group {
  margin-left: 10px;
}

.ChordControls .btn-group .btn {
  padding-top: 5px;
  height: 31px;
  width: 35px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  touch-action: manipulation;
  margin-top: 0;
  min-height: auto;
}

.ChordControls .tray-control {
  font-size: 25px;
  padding-top: 3px;
  min-height: auto;
  margin-top: 0;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .ChordControls .controls-tray {
    background: #2e2e2e;
    border: 1px solid #4d4f50;
    margin-left: -30px;
    margin-right: -30px;
  }

  .ChordControls .controls-container-holder {
    width: calc(100% - 32px);
    overflow: scroll;
    white-space: nowrap;
    height: 55px;
  }

  .ChordControls .amount {
    margin-top: -15px;
    margin-left: -10px;
  }

  .ChordControls .btn-group {
    margin-left: 5px;
  }

  .ChordControls .btn-group.ml-3 {
    margin-left: 5px !important;
  }

  .ChordControls .controls-container {
    margin-left: 12.5px;
    position: relative;
  }

  .ChordControls .tray-control {
    margin-right: -10px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .ChordControls {
    height: 65px;
  }

  .ChordControls .controls-tray {
    height: 65px;
  }

  .ChordControls .tray-saver {
    right: 15px;
  }

  .ChordControls .feature-label {
    font-size: 13px;
  }
}

/* Tiny devices (mobiles, less than 361.98px) */
@media (max-width: 361.98px) {
  .ChordControls .controls-tray {
    padding: 5px 10px;
  }

  .ChordControls .feature-label {
    font-size: 12px;
    font-weight: normal;
  }

  .ChordControls .tray-control {
    font-size: 22px;
  }

  .ChordControls .controls-container-holder {
    width: calc(100% - 28px);
  }
}
