.ChordControls {
  height: 55px;
  position: sticky;
  bottom: 0;
}

.ChordControls.minimized {
  margin-top: -25px;
  padding-top: 25px;
  bottom: -55px;
  height: 105px;
}

.ChordControls .tray-saver {
  position: absolute;
  width: 45px;
  height: 26px;
  z-index: 2;
  right: -1rem;
  border-radius: 5px 5px 0 0;
}

.ChordControls .tray-saver button {
  padding: 0;
  width: 100%;
  line-height: 0;
}

.ChordControls .controls-tray {
  font-family: 'DINNextLTPro-Regular', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 25px;
  opacity: .97;
  padding: 5px 15px;
  height: 55px;
  margin-left: -1rem;
  margin-right: -1rem;
}

.ChordControls .controls-container-holder {
  width: calc(100% - 42px);
  float: left;
  overflow: hidden;
  height: 40px;
}

.ChordControls .controls-container {
  display: inline-block;
  margin-left: 25px;
}

.ChordControls .controls-container:nth-child(1) {
  margin-left: 0;
}

.ChordControls .feature-label {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
}

.ChordControls .amount {
  font-size: 90%;
  position: absolute;
  margin-top: -5px;
}

.ChordControls .btn-group {
  margin-left: 10px;
}

.ChordControls .btn-group .btn {
  border-radius: 0;
  padding-top: 5px;
  height: 31px;
  width: 35px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

.ChordControls .tray-control {
  font-size: 25px;
  padding-top: 5px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .ChordControls .controls-tray {
    background: #2E2E2E;
    border: 1px solid #4D4F50;
    margin-left: -15px;
    margin-right: -15px;
  }

  .ChordControls .controls-container-holder {
    width: calc(100% - 32px);
  }

  .ChordControls .amount {
    margin-top: -15px;
    margin-left: -15px;
  }

  .ChordControls .btn-group {
    margin-left: 5px;
  }

  .ChordControls .btn-group.ml-3 {
    margin-left: 5px !important;
  }

  .ChordControls .controls-container {
    margin-left: 12.5px;
  }

  .ChordControls .tray-control {
    margin-right: -10px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .ChordControls {
    height: 65px;
  }

  .ChordControls .controls-tray {
    height: 65px;
  }

  .ChordControls .tray-saver {
    right: 15px;
  }
}
