.ChordControls {
  font-family: DINNextLTPro-Regular,Helvetica Neue,sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: sticky;
  bottom: 0;
  margin-top: 25px;
  opacity: .97;
  padding: 5px 15px;
  height: 55px;
  margin-left: -1rem;
  margin-right: -1rem;
}

.ChordControls .controls-container {
  float: left;
  margin-left: 25px;
}

.ChordControls .controls-container:nth-child(1) {
  margin-left: 0;
}

.ChordControls .feature-label {
  display: inline-block;
  margin-top: 12px;
  font-size: 14px;
}

.ChordControls .amount {
  font-size: 90%;
  position: absolute;
  margin-top: -5px;
}

.ChordControls .btn-group {
  margin-left: 10px;
}

.ChordControls .btn-group .btn {
  border-radius: 0;
  padding-top: 5px;
  height: 31px;
  width: 35px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .ChordControls {
    display: none;
  }
}