.Content {
  margin-top: 30px;
}

.Content a {
  color: #777777;
}

.Content .contentRow {
  min-height: calc(60vh - 56px);
}

.Content .contentColumn {
  padding-bottom: 50px;
}

.Content .postList .title-container {
  overflow: auto;
  padding: 0 15px 3px 15px;
}

.Content .postList h6 {
  color: #999999;
  margin-top: 0;
  float: left;
}

.Content .postList a.random-post {
  float: right;
  font-weight: normal;
}

.Content .postList .post {
  transition: all 0.5s;
  cursor: pointer;
  padding: 12.5px 15px;
}

.Content .postList .post.no-hover {
  cursor: initial;
  transition: none;
}

.Content .postList .post:hover {
  background: #efefef !important;
}

.Content .postList .post.no-hover:hover {
  background: inherit !important;
}

.Content .postList .post h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content .postList .post small {
  color: #999999;
  font-size: 80%;
}

.Content .postList .post span {
  margin: 0 2.5px;
}

.Content .navigate-link:hover {
  text-decoration: none;
}

.Content .post .navigate-link small {
  font-size: 80%;
}

.Content .navigate-link:hover small {
  color: #666666;
}

.Content .postList .load-posts {
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  font-weight: bold;
}

.Content .post h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content h1.page {
  margin-bottom: -10px;
}

.Content .post small {
  color: #999999;
  font-size: 90%;
}

.Content .post .content {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 87.5%;
  white-space: pre-wrap;
  overflow-x: scroll !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Content small span.separator {
    display: none;
  }

  .Content small time {
    display: block;
  }
}