.Content .spacer {
  display: block;
  content: " ";
  margin-top: 3rem;
}

.Content a.load-more:hover {
  text-decoration: none;
}

.Content .contentRow {
  min-height: calc(60vh - 56px);
}

.Content .contentColumn {
  padding-bottom: 50px;
}

.Content .sidebarColumn {
  padding-top: 30px;
}

.Content .header-meta-container {
  overflow: auto;
  margin: 0 -15px;
  margin-bottom: 10px;
}

.Content .post-item-meta .badge,
.Content .post small .badge {
  padding: 0.1em 0.4em 0.02em 0.4em;
  vertical-align: text-bottom;
  cursor: pointer;
  line-height: 1.05rem;
}

.Content .post small .badge {
  vertical-align: initial;
  margin: 0 2px;
}

.Content .header-meta-container .header-picture {
  max-width: 80px;
  float: left;
  margin-right: 20px;
}

.Content .header-meta-container .user-icon {
  font-size: 75px;
  margin-top: 5px;
  float: left;
  color: #666666;
  margin-right: 20px;
}

.Content .header-meta-container h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.Content .header-meta-container .header-icon {
  margin-right: 2.5px;
}

.Content .header-meta-container p {
  font-size: 14px;
  color: #999999;
  margin-bottom: 15px;
}

.Content .postList a.random-post {
  float: right;
  font-weight: normal;
}

.Content .postList a.post-title {
  color: inherit;
}

.Content .navigate-link:hover {
  text-decoration: none;
}

.Content .post .navigate-link small {
  font-size: 80%;
}

.Content .navigate-link:hover small {
  color: #666666;
}

.Content .postList .load-posts {
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 15px;
}

.Content .post h2 {
  margin-top: 0;
}

.Content h1.page {
  margin-bottom: -10px;
}

.Content .post small {
  font-size: 90%;
  display: inline-block;
}

.Content .post small a {
  font-size: inherit;
}

.Content .post .content {
  font-family: Minlo, Menlo, monospace;
  font-size: 87.5%;
  white-space: pre-wrap;
}

.Content .post table.table td {
  min-width: 125px;
}

.Content .post-rating:hover {
  cursor: pointer;
}

.Content .post-rating .star-ratings {
  top: -2.5px;
}

.Content .post-rating.post-list .star-ratings {
  top: -2px;
}

.Content .rating-comments-container {
  margin-top: 7px;
}

.Content .rating-comments-container.post-list {
  float: right;
  margin-top: 0;
}

.Content .post-comment-count {
  margin-left: 0;
  cursor: pointer;
}

.Content .post-comment-count.post-list {
  margin-left: 10px;
}

.Content .post-comment-count .comment-text-container {
  font-weight: bold;
}

.Content .post-comment-count .comment-icon {
  margin-left: 4px;
  font-size: 11px;
}

.Content .post-comment-count.post-list .comment-icon {
  font-size: 9px;
}

.Content .rate-container {
  position: relative;
}

.Content .rate-container .rate-inner-container {
  display: flex;
}

.Content .rate-container .rate-inner-container button {
  margin-left: 10px;
  font-size: 12px;
  margin-top: -7px;
}

.Content .rate-container .dummy-anchor {
  position: relative;
  top: -200px;
  visibility: hidden;
}

.Content .ad {
  padding: 15px 0;
  text-align: center;
  margin: 10px 0 20px 0;
  overflow: hidden;
}

.Content .author-picture img {
  height: 20px;
  margin-top: -4px;
  margin-right: 5px;
}

.Content .author-picture .user-icon {
  font-size: 15px;
}

.Content .post small .meta-time-container {
  display: inline;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Content .post small span.separator {
    display: none;
  }

  .Content .post small .post-comment-count span.separator {
    display: inline-block;
  }

  .Content .post small .meta-time-container {
    display: block;
    position: relative;
  }

  .Content .post small .meta-time-container span.separator {
    display: inline-block;
  }

  .Content .post small .meta-time-container .badge {
    position: absolute;
    top: 2px;
  }

  .Content .post-rating {
    display: block;
  }

  .Content .rating-comments-container {
    display: flex;
    float: none;
  }

  .Content .rating-comments-container.post-list {
    float: none;
  }

  .Content .postList .post small span.separator {
    display: inline-block;
    margin: 0 5px;
  }

  .Content .postList .post small .post-rating.post-list span.separator {
    display: none;
  }

  .Content .postList small time {
    display: inline-block;
  }

  .Content .author-picture img {
    height: 16px;
    margin-left: 3px;
  }

  .Content .header-meta-container .header-picture,
  .Content .header-meta-container .user-icon {
    float: none;
  }

  .Content .header-meta-container {
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Content .ad {
    overflow: hidden;
    border-bottom: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Content .sidebarColumn {
    padding: 0;
    margin-left: 0 !important;
  }
}
