.ContentParser .meta {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
}

.ContentParser .meta p {
  font-size: 17px;
}

.ContentParser nav {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
  margin-top: 25px;
  margin-bottom: 30px;
}

.ContentParser nav a {
  font-size: 14px;
  transition: none;
  padding-top: 10px;
  color: #888888;
}

.ContentParser nav a:hover {
  color: inherit;
}

.ContentParser nav .nav-link.active {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  border-radius: 0;
  box-shadow: 0 -3px 0 0 #ff9700;
  border-top: 0;
}

.ContentParser .tab-contents {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ContentParser hr {
  margin: 0;
}

.ContentParser .tabs {
  white-space: pre;
  overflow-x: scroll;
}

.ContentParser h4 {
  margin-top: 1.25rem;
  margin-bottom: -1.5rem;
}

.ContentParser span.chord {
  font-weight: bold;
}

.ContentParser .ignore-chords span.chord {
  font-weight: normal;
}

.ContentParser .visible {
  display: block !important;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .ContentParser .tab-contents {
    padding-left: 0;
    padding-right: 0;
  }
}