.Content a {
  color: #777777;
}

.Content a.load-more:hover {
  text-decoration: none;
}

.Content .contentRow {
  min-height: calc(60vh - 56px);
}

.Content .contentColumn {
  padding-top: 30px;
  padding-bottom: 50px;
}

.Content .sidebarColumn {
  padding-top: 30px;
}

.Content .postList .title-container {
  overflow: auto;
  padding: 0 15px 3px 15px;
}

.Content .postList h6 {
  color: #999999;
  margin-top: 0;
  float: left;
}

.Content .postList a.random-post {
  float: right;
  font-weight: normal;
}

.Content .postList .post {
  transition: all 0.5s;
  padding: 12.5px 15px;
}

.Content .postList .post.no-hover {
  cursor: initial;
  transition: none;
}

.Content .postList .post:hover {
  background: #efefef !important;
}

.Content .postList .post.no-hover:hover {
  background: inherit !important;
}

.Content .postList a.post-title {
  color: inherit;
}

.Content .postList .post h5 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content .postList .post small {
  color: #999999;
  font-size: 80%;
}

.Content .postList .post small span.separator {
  margin: 0 2.5px;
}

.Content .navigate-link:hover {
  text-decoration: none;
}

.Content .post .navigate-link small {
  font-size: 80%;
}

.Content .navigate-link:hover small {
  color: #666666;
}

.Content .postList .load-posts {
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  font-weight: bold;
  color: #ffffff;
}

.Content .post h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content h1.page {
  margin-bottom: -10px;
}

.Content .post small {
  color: #999999;
  font-size: 90%;
}

.Content .post .content {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 87.5%;
  white-space: pre-wrap;
}

.Content .post .matchedContent h6 {
  color: #777777;
}

.Content .post-rating:hover {
  cursor: pointer;
}

.Content .post-rating .star-ratings {
  top: -1.5px;
}

.Content .post-rating.post-list .star-ratings {
  top: -2px;
}

.Content .rate-container {
  position: relative;
}

.Content .rate-container .dummy-anchor {
  position: relative;
  top: -200px;
  visibility: hidden;
}

.Content h6.rate-heading {
  color: #777777;
  margin-top: 30px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Content .post small span.separator {
    display: none;
  }

  .Content .post small time {
    display: block;
  }

  .Content .post-rating {
    display: block;
  }

  .Content .post-rating.post-list {
    display: block;
  }

  .Content .postList .post small span.separator {
    display: inline-block;
    margin: 0 5px;
  }

  .Content .postList .post small .post-rating.post-list span.separator {
    display: none;
  }

  .Content .postList small time {
    display: inline-block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Content .contentColumn {
    padding-right: 25px;
  }
}