.ContentParser .meta {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.ContentParser .meta p,
.ContentParser .meta ul li {
  font-size: 1.07rem;
  line-height: 1.55;
}

.ContentParser .meta ul {
  list-style: none;
  padding-left: 0;
  display: table;
}

.ContentParser .meta ul li {
  display: table-row;
}

.ContentParser .meta ul li span {
  display: table-cell;
  text-align: right;
  padding-right: 7.5px;
}

.ContentParser .meta a {
  color: inherit;
  font-size: inherit;
}

.ContentParser nav {
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  margin-bottom: 20px;
}

.ContentParser .nav-tabs {
  justify-content: initial;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.ContentParser .nav-tabs .nav-item {
  white-space: nowrap;
}

.ContentParser nav a {
  font-size: 14px;
  transition: none;
  padding: 1.1rem 1rem;
  color: #888888;
  font-weight: bold;
}

.ContentParser nav a:hover {
  color: inherit;
}

.ContentParser nav .nav-link.active {
  color: inherit;
}

.ContentParser .tab-contents {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}

.ContentParser .tab-contents.no-tabs {
  padding-top: 12px;
}

.ContentParser .chord-sheet {
  font-size: 15px;
  overflow: hidden;
  padding: 0 4px;
}

.ContentParser hr {
  margin: 0;
}

.ContentParser .tabs {
  white-space: pre;
  overflow-x: auto;
}

.ContentParser h4 {
  margin-top: 1.25rem;
  margin-bottom: -1.5rem;
}

.ContentParser span.chord {
  font-weight: bold;
  font-size: 0.98rem;
  position: relative;
}

.ContentParser span.chord .popup-trigger::before {
  border-radius: 2px;
  bottom: -2px;
  content: " ";
  display: block;
  left: -4px;
  opacity: 0.1;
  position: absolute;
  right: -4px;
  top: -2px;
  background: #bbb;
}

.ContentParser .ignore-chords span.chord {
  font-weight: normal;
  font-size: initial;
}

.ContentParser .visible {
  display: block !important;
}

.ContentParser .chord-sheet a {
  text-decoration: underline;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .ContentParser .tab-contents {
    padding-left: 0;
    padding-right: 0;
  }
}
