.Content {
  margin-top: 30px;
}

.Content .contentRow {
  min-height: calc(90vh - 56px);
}

.Content .contentColumn {
  padding-bottom: 50px;
}

.Content .postList h6 {
  color: #999999;
  margin-top: 0;
  padding-bottom: 10px;
  padding-left: 15px;
}

.Content .postList .post {
  transition: all 0.5s;
  cursor: pointer;
  padding: 12.5px 15px;
}

.Content .postList .post:hover {
  background: #efefef !important;
}

.Content .postList .post h4 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content .postList .post small {
  color: #999999;
}

.Content .postList .post span {
  margin: 0 2.5px;
}

.Content .navigate-link:hover {
  text-decoration: none;
}

.Content .navigate-link:hover small {
  color: #666666;
}

.Content .postList .load-posts {
  cursor: pointer;
  padding: 12.5px 15px;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  display: block;
  width: 100%;
  border-radius: 0;
}

.Content .post h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content h1.page {
  margin-bottom: -10px;
}

.Content .post small {
  color: #999999;
}

.Content .post .content {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 87.5%;
  white-space: pre-wrap;
  overflow-x: scroll !important;
}