.Content a.load-more:hover {
  text-decoration: none;
}

.Content .contentRow {
  min-height: calc(60vh - 56px);
}

.Content .contentColumn {
  padding-bottom: 50px;
}

.Content .sidebarColumn {
  padding-top: 30px;
}

.Content .header-meta-container {
  overflow: auto;
  margin: 0 -15px;
  margin-bottom: 10px;
}

.Content .header-meta-container .header-picture {
  max-width: 80px;
  float: left;
  margin-right: 20px;
}

.Content .header-meta-container .user-icon {
  font-size: 75px;
  margin-top: 5px;
  float: left;
  color: #666666;
  margin-right: 20px;
}

.Content .header-meta-container h4 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

.Content .header-meta-container .header-icon {
  margin-right: 2.5px;
}

.Content .header-meta-container p {
  font-size: 14px;
  color: #999999;
  margin-bottom: 15px;
}

.Content .postList a.random-post {
  float: right;
  font-weight: normal;
}

.Content .postList a.post-title {
  color: inherit;
}

.Content .navigate-link:hover {
  text-decoration: none;
}

.Content .post .navigate-link small {
  font-size: 80%;
}

.Content .navigate-link:hover small {
  color: #666666;
}

.Content .postList .load-posts {
  cursor: pointer;
  margin-top: 15px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 10px 15px;
  border-radius: 0px;
  font-weight: bold;
  color: #ffffff;
}

.Content .post h1 {
  margin-bottom: 0;
  margin-top: 0;
}

.Content h1.page {
  margin-bottom: -10px;
}

.Content .post small {
  color: #999999;
  font-size: 90%;
  display: inline-block;
}

.Content .post .content {
  font-family: Minlo, Menlo, monospace;
  font-size: 87.5%;
  white-space: pre-wrap;
}

.Content .post table.table td {
  min-width: 125px;
}

.Content .post-rating:hover {
  cursor: pointer;
}

.Content .post-rating .star-ratings {
  top: -1.5px;
}

.Content .post-rating.post-list .star-ratings {
  top: -2px;
}

.Content .rate-container {
  position: relative;
}

.Content .rate-container .rate-inner-container {
  display: flex;
}

.Content .rate-container .rate-inner-container button {
  margin-left: 10px;
  font-size: 12px;
}

.Content .rate-container .dummy-anchor {
  position: relative;
  top: -200px;
  visibility: hidden;
}

.Content h6.rate-heading, .Content h6.comment-heading {
  margin-top: 30px;
}

.Content .ad {
  padding: 15px 0;
  text-align: center;
  margin: 10px 0 20px 0;
  overflow: hidden;
}

.Content .author-picture img {
  height: 20px;
  margin-top: -4px;
  margin-right: 5px;
}

.Content .author-picture .user-icon {
  font-size: 15px;
}

.Content .post small .meta-time-container {
  display: inline;
}

.Content .comment {
  display: flex;
  position: relative;
}

.Content .comment.no-hover:hover {
  background: initial !important;
}

.Content .comment .pic-col {
  flex: 0 0 50px;
}

.Content .comment .pic-col p {
  font-size: 36px;
}

.Content .comment img.author-pic {
  height: 40px;
}

.Content .comment .content-col {
  flex: 1;
}

.Content .comment .content-col textarea {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.Content .comment .content-col textarea.focus {
  height: 80px;
}

.Content .comment .content-col textarea::placeholder {
  font-size: 18px;
}

.Content .comment .content-col button.comment-submit {
  font-size: 1rem;
}

.Content .comment p {
  font-size: 16px;
  margin-bottom: 0;
}

.Content .comment .delete-comment {
  font-size: 13px;
  display: none;
}

.Content .comment .delete-comment button {
  color: inherit;
  height: 25px;
}

.Content .comment.comment-owner:hover .delete-comment,
.Content .comment .delete-comment.show {
  display: block;
}

.Content .comment .content-col .comment-actions-row button {
  padding: 0;
  color: inherit;
}

.Content .comment .content-col .comment-actions-row button .heartFilled {
  color: #ff9800;
  opacity: 0.9;
}

.Content .comment .content-col .comment-actions-row .like-text {
  cursor: default;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Content .post small span.separator {
    display: none;
  }

  .Content .post small .meta-time-container {
    display: block;
  }

  .Content .post-rating {
    display: block;
  }

  .Content .post-rating.post-list {
    display: block;
  }

  .Content .postList .post small span.separator {
    display: inline-block;
    margin: 0 5px;
  }

  .Content .postList .post small .post-rating.post-list span.separator {
    display: none;
  }

  .Content .postList small time {
    display: inline-block;
  }

  .Content .author-picture img {
    height: 16px;
    margin-left: 3px;
  }

  .Content .header-meta-container .header-picture, .Content .header-meta-container .user-icon {
    float: none;
  }

  .Content .header-meta-container {
    text-align: center;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Content .ad {
    overflow: hidden;
    border-bottom: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Content .contentColumn {
    padding-right: 25px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Content .sidebarColumn {
    padding: 0;
    margin-left: 0 !important;
  }

  .Content .comment.comment-owner .delete-comment {
    display: block;
  }
}