.EditorPanel {
  position: sticky;
  top: 61px;
}

.EditorPanel .btn-group {
  margin-bottom: 5px;
}

.EditorPanel .btn-group .btn {
  border-radius: 0;
  border-right: 1px solid #dee2e6;
}

.EditorPanel .btn-group .btn span {
  font-size: 13px;
  color: #444444;
  margin-left: 5px;
}

.EditorPanel .btn-group .btn:not(:first-child) {
  margin-left: 0;
}

.EditorPanel .btn-group .btn:last-child {
  border-right: 0;
}
