.Footer {
  padding: 20px 0;
  position: relative;
  z-index: 2;
  background: #222222;
}

.Footer h1 {
  margin-top: 5px;
}

.Footer h1 img {
  width: 80px;
}

.Footer small {
  color: #aaaaaa;
}

.Footer h6 {
  color: #ffffff;
}

.Footer ul {
  margin-bottom: 1.5rem;
}

.Footer a {
  color: #dddddd;
  font-size: 16px;
}

.Footer small a {
  font-size: inherit;
}

.Footer a:hover {
  color: #ffffff;
}

.Footer .external-icon {
  color: #666666;
  font-size: 0.7em;
  padding-bottom: 2px;
  margin-left: 2px;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 768px) {
  .Footer .external-icon {
    display: none;
  }

  .Footer .trim {
    display: none;
  }
}