.Login {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 320px;
}

.Login .social-login {
  overflow: auto;
  padding-top: 8px;
}

.Login .social-icon {
  margin-top: -2px;
  float: left;
  height: 20px;
  font-size: 20px;
}

.Login.isDialog {
  padding-top: 0;
}

.Login .signup-card {
  border-left: 3px solid #ff9700;
  padding-left: 15px;
}