.NewPost {
  margin: 20px auto 100px auto;
}

.NewPost h1 {
  margin-bottom: -10px;
}

.NewPost h3 a:hover {
  text-decoration: underline;
}

.NewPost form {
  padding: 15px 0;
}

.NewPost .title {
  margin-top: 0;
  margin-bottom: 0;
}

.NewPost form textarea.form-control, .NewPost form select.form-control {
  margin-bottom: 20px;
  line-height: 1.5;
}

.NewPost form textarea.form-control, .NewPost .preview {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 87.5%;
  white-space: pre;
  overflow-x: scroll !important;
}

.NewPost .preview {
  white-space: pre-wrap;
}

.NewPost form textarea.form-control.page {
  white-space: pre-wrap;
}

.NewPost .preview-pane {
  margin-top: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .NewPost .LoaderButton {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1020;
    text-indent: -99999px;
    line-height: 0;
  }

  .NewPost .LoaderButton .spinning {
    display: none;
  }

  .NewPost .LoaderButton::after {
    text-indent: 0;
    display: block;
    line-height: initial;
    content: "GO";
    font-weight: bold;
  }
}