.NewPost {
  margin: 20px auto 100px auto;
}

.NewPost h1 {
  margin-bottom: -10px;
}

.NewPost h3 a:hover {
  text-decoration: underline;
}

.NewPost form {
  padding: 15px 0;
}

.NewPost .title {
  margin-top: 0;
  margin-bottom: 0;
}

.NewPost form textarea.form-control, .NewPost form select.form-control {
  margin-bottom: 20px;
  line-height: 1.5;
}

.NewPost form textarea.form-control, .NewPost .preview {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 87.5%;
  white-space: pre;
  overflow-x: scroll !important;
}

.NewPost .preview {
  white-space: pre-wrap;
}

.NewPost form textarea.form-control.page {
  white-space: pre-wrap;
}

.NewPost .preview-pane {
  margin-top: 15px;
}

.NewPost nav {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
  margin-top: 25px;
  margin-bottom: 20px;
}

.NewPost nav a {
  font-size: 14px;
  transition: none;
  padding-top: 10px;
  color: #888888;
}

.NewPost nav a:hover {
  color: inherit;
}

.NewPost nav .nav-link.active {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  border-radius: 0;
  box-shadow: 0 -3px 0 0 #ff9700;
  border-top: 0;
}

.NewPost .preview-placeholder {
  text-align: center;
  color: #888888;
  padding-top: 80px;
}

.NewPost .preview-placeholder p {
  color: #888888;
  margin-top: 10px;
  margin-bottom: 0;
}

.NewPost .preview-placeholder small {
  font-style: italic;
}

.NewPost .preview-placeholder .preview-icon {
  font-size: 40px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .NewPost .LoaderButton {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1020;
    text-indent: -99999px;
    line-height: 0;
  }

  .NewPost .LoaderButton .spinning {
    display: none;
  }

  .NewPost .LoaderButton::after {
    text-indent: 0;
    display: block;
    line-height: initial;
    content: "GO";
    font-weight: bold;
  }
}