.NotFound .contentRow {
  min-height: calc(60vh - 56px);
}

.NotFound .contentColumn {
  padding-top: 30px;
  padding-bottom: 50px;
}

.NotFound .sidebarColumn {
  padding-top: 30px;
}

.NotFound h1 {
  margin-bottom: -10px;
  margin-top: 0;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .NotFound .contentColumn {
    padding-right: 25px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .NotFound .ad {
    overflow: hidden;
    background: #ffffff;
    border-bottom: none;
  }
}