.Posts {
  margin-top: 30px;
}

.Posts .postList h6 {
  color: #999999;
}

.Posts .postList .post {
  transition: all 0.5s;
  cursor: pointer;
  padding: 15px 20px;
  margin-bottom: 5px;
}

.Posts .postList .post:hover {
  background: #eeeeee !important;
  border-left: 4px solid #ff9700;
}

.Posts .postList .post h4 {
  margin-bottom: 0;
}

.Posts .postList .post small {
  color: #999999;
}

.Posts .postList .post span {
  margin: 0 2.5px;
}