.Request .contentRow {
  min-height: calc(60vh - 56px);
}

.Request .contentColumn {
  padding-top: 30px;
  padding-bottom: 50px;
}

.Request .sidebarColumn {
  padding-top: 30px;
}

.Request h1 {
  margin-bottom: -10px;
  margin-top: 0;
}

.Request .ad {
  padding: 15px 0;
  text-align: center;
  background: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Request .contentColumn {
    padding-right: 25px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .Request .ad {
    overflow: hidden;
    background: #ffffff;
    border-bottom: none;
  }
}