.Sidebar {
  height: 100%;
}

.Sidebar .sidebar {
  z-index: 2;
  margin-top: -30px;
  transition: all 0.25s;
  height: 100%;
}

.Sidebar .sidebar-content {
  min-width: 200px;
  padding-top: 20px;
  padding-left: 10px;
  height: 100%;
}

.Sidebar .sidebar-content h6 {
  color: #777777;
  margin-top: 5px;
  margin-bottom: 2px;
}

.Sidebar .sidebar-content .facebook-widget h6 {
  margin-bottom: -5px;
}

.Sidebar .sidebar-content a {
  display: block;
  margin: 0.75rem 0;
}

.Sidebar .sidebar-content .sidebar-widget a {
  margin: 0;
  margin-bottom: -1px;
}

.Sidebar .sidebar-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1020;
  display: none;
  font-size: 24px;
}

.Sidebar .top-posts {
  margin-top: 15px;
  margin-bottom: 5px;
}

.Sidebar .sidebar-widget .popular-icon, .Sidebar .sidebar-widget .top-rated-icon {
  margin-right: 5px;
  color: #ff9800;
}

.Sidebar .sidebar-widget .top-rated-icon {
  color: #FFD700;
}

.Sidebar .top-posts a {
  color: inherit;
  font-size: 1rem;
  font-family: "DINNextLTPro-Heavy", sans-serif;
}

.Sidebar .top-posts a span {
  color: #777777;
  margin-right: 10px;
  display: inline-block;
}

.Sidebar .top-posts a:hover {
  text-decoration: none;
}

.Sidebar .ad1, .Sidebar .ad2 {
  margin: 10px 0;
}

.Sidebar .top-posts ul {
  margin-bottom: 20px;
}

.Sidebar .top-posts ul li a {
  margin: 0.7rem 0;
}

.Sidebar .ad1 {
  margin: 25px 0 15px 0;
}

.Sidebar .ad2 {
  margin-bottom: 50px;
}

.Sidebar .sticky {
  position: sticky;
  top: 75px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Sidebar .sidebar-button {
    display: block;
  }

  .Sidebar .sidebar {
    position: fixed;
    height: 0;
    left: 0;
    right: 0;
    z-index: 3;
    top: 130vh;
    margin: auto;
  }

  .Sidebar .ad1 {
    display: none;
  }

  .Sidebar .sidebar-content {
    padding-left: 0;
    max-width: 540px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
  }

  .Sidebar .sidebar-content .facebook-widget {
    display: none;
  }

  .Sidebar .sidebar.opened {
    top: 60px;
    height: calc(100vh - 56px);
    overflow-y: scroll;
  }

  .Sidebar .sticky {
    position: inherit;
  }

  .Sidebar .top-posts {
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0;
  }

  .Sidebar .top-posts ul {
    margin-bottom: 5px;
  }
}