.Sidebar {
  height: 100%;
}

.Sidebar .sidebar {
  z-index: 2;
  margin-top: -30px;
  transition: all 0.25s;
  height: 100%;
}

.Sidebar .sidebar-content {
  min-width: 200px;
  padding-top: 30px;
  padding-left: 10px;
}

.Sidebar .sidebar-content h6 {
  color: #777777;
  margin-top: 0;
  margin-bottom: -5px;
}

.Sidebar .sidebar-content a {
  display: block;
  margin: 0.75rem 0;
}

.Sidebar .sidebar-content a.active {
  border-left: 5px solid #17a2b8;
  font-weight: bold;
  margin-left: -20px;
  padding-left: 15px;
}

.Sidebar .sidebar-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1020;
  display: none;
  font-size: 24px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Sidebar .sidebar-button {
    display: block;
  }

  .Sidebar .sidebar {
    position: fixed;
    height: 0;
    left: 0;
    right: 0;
    z-index: 3;
    top: 130vh;
  }

  .Sidebar .sidebar-content {
    padding-left: 0;
  }

  .Sidebar .sidebar.opened {
    top: 86px;
    height: calc(100vh - 56px);
    padding-left: 20px;
    padding-right: 20px;
  }
}