.Admin {
  padding-bottom: 50px;
}

.Admin .header {
  overflow: auto;
  margin-bottom: 30px;
  padding-bottom: 5px;
}

.Admin .header h3 {
  margin-top: 30px;
}

.Admin .header .btn {
  margin-top: 25px;
  padding-top: 10px;
}

.Admin .header .btn span {
  margin-right: 10px;
  font-size: 14px;
}

.Admin .nav-tabs {
  justify-content: initial;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Admin .nav-tabs::-webkit-scrollbar {
  display: none;
}

.Admin .nav-tabs .nav-item {
  white-space: nowrap;
}

.Admin nav a {
  font-size: 14px;
  transition: none;
  padding: 1.1rem 1rem;
  color: #888888;
  font-weight: bold;
}

.Admin nav a:hover {
  color: inherit;
}

.Admin nav .nav-link.active {
  color: inherit;
}

.Admin .list-group-item {
  padding: 10px;
  border: 0;
}

.Admin table td {
  border: none;
  padding: 12.5px 15px;
  white-space: nowrap;
}

.Admin table tr td:nth-child(2) {
  white-space: inherit;
}

.Admin td:first-child,
.Admin th:first-child {
  border-radius: 15px 0 0 15px;
}

.Admin td:last-child,
.Admin th:last-child {
  border-radius: 0 15px 15px 0;
}

.Admin table .post-updated-badge {
  margin-left: 8px;
  cursor: pointer;
}

.Admin .list-group-item span.badge {
  margin-right: 8px;
  margin-top: 3px;
  float: left;
  height: 18px;
  text-transform: uppercase;
}

.Admin .list-group-item a:hover {
  text-decoration: underline;
}

.Admin .list-group-item-light {
  color: #333;
}

.Admin .new-post-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1020;
  display: none;
  font-size: 24px;
}

.Admin .admin-search {
  margin: 0 10px;
}

.Admin .delete-container {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px 15px 10px;
  height: 50px;
}

.Admin .delete-container .btn {
  height: 30px;
  min-height: 30px;
  padding-top: 4px;
  float: right;
}

.Admin .checkbox {
  float: left;
  margin-right: 10px;
}

.Admin .load-posts {
  cursor: pointer;
  padding: 9px 30px 10px 30px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 15px;
}

.Admin .draft-count {
  margin: 2px 0 0 6px;
  padding: 4px 5px 2px 6px;
}

.Admin .empty-searches-container ul {
  margin-bottom: 0;
  list-style: none;
}

.Admin .empty-searches-container pre {
  margin-bottom: 0;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Admin .new-post-button {
    display: block;
  }

  .Admin .header .btn {
    display: none;
  }

  .Admin .delete-container {
    margin-top: 5px;
    position: sticky;
    top: -1px;
    z-index: 1;
    padding-top: 15px;
    height: 65px;
    transition: top 0.3s ease-out;
  }

  .Admin .delete-container.is-header-sticky {
    top: 60px;
  }

  .Admin .tab-content {
    margin-top: 10px;
  }
}
