.Contributions {
  padding-bottom: 50px;
}

.Contributions .header {
  overflow: auto;
  margin-bottom: 30px;
}

.Contributions .header h3 {
  margin-top: 30px;
}

.Contributions .header .btn {
  margin-top: 25px;
  padding-top: 6px;
}

.Contributions .header .btn span {
  margin-right: 10px;
  font-size: 14px;
}

.Contributions .nav-pills {
  margin-left: 5px;
  position: sticky;
  top: 80px;
}

.Contributions .nav-pills .nav-link {
  padding: 0.75rem 1rem;
}

.Contributions .nav-pills .nav-link.active {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  border-left: 2px solid #ff9700;
  border-radius: 0;
  padding-left: 0.9rem;
}

.Contributions .list-group-item {
  padding: 10px;
  border: 0;
}

.Contributions .list-group-item span.badge {
  margin-right: 8px;
  margin-top: 3px;
  float: left;
  height: 16px;
  text-transform: uppercase;
}

.Contributions .list-group-item a:hover {
  text-decoration: underline;
}

.Contributions .list-group-item-light {
  color: #333;
}

.Contributions .new-post-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  padding-top: 12px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1020;
  display: none;
  font-size: 24px;
}

.Contributions .admin-search {
  width: 50%;
  float: left;
}

.Contributions .delete-container {
  margin-bottom: 10px;
  padding: 0 10px 15px 10px;
  height: 50px;
}

.Contributions .delete-container .btn {
  height: 30px;
  padding-top: 4px;
  float: right;
}

.Contributions .checkbox {
  float: left;
  margin-right: 10px;
}

.Contributions .load-posts {
  cursor: pointer;
  padding: 9px 30px 10px 30px;
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  border-radius: 0;
}

.Contributions .draft-count {
  margin: 2px 0 0 6px;
  position: absolute;
  padding: 4px 5px 2px 6px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Contributions .new-post-button {
    display: block;
  }

  .Contributions .header .btn {
    display: none;
  }

  .Contributions .col-sm-2 {
    margin-top: -15px;
  }

  .Contributions .nav-pills {
    display: inline;
    position: initial;
    border: 0 !important;
  }

  .Contributions .nav-item {
    float: left;
    border-bottom: 0 !important;
  }

  .Contributions .nav-pills .nav-link.active {
    border-left: 0;
    border-bottom: 4px solid #ff9700;
  }

  .Contributions .delete-container {
    margin-top: 5px;
    position: sticky;
    top: 55px;
    z-index: 1;
    padding-top: 15px;
    height: 65px;
  }

  .Contributions .tab-content {
    margin-top: 10px;
  }
}
