.Account {
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 50px;
}

.Account .header {
  margin-bottom: 20px;
}

.Account .form-group {
  margin-bottom: 20px;
}

.Account .nav-pills {
  margin-left: 5px;
  position: sticky;
  top: 80px;
}

.Account .nav-pills .nav-link.active {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  border-left: 2px solid #ff9700;
  border-radius: 0;
  padding-left: 0.9rem;
}

.Account .list-group-item {
  padding: 10px 5px;
  border: 0;
}

.Account .list-group-item span.badge {
  margin-right: 8px;
  margin-top: 3px;
  float: left;
  height: 16px;
  text-transform: uppercase;
}

.Account .list-group-item a:hover {
  text-decoration: underline;
}

.Account .list-group-item-light {
  color: #333;
}

.Account .tab-content .tab-pane form {
  max-width: 500px;
}

.Account .social-login {
  overflow: auto;
  padding-top: 8px;
}

.Account .social-icon {
  margin-top: -2px;
  float: left;
  height: 20px;
  font-size: 20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 576px) {
  .Account .col-sm-2 {
    margin-top: -15px;
  }

  .Account .nav-pills {
    display: inline;
  }

  .Account .nav-item {
    float: left;
  }

  .Account .nav-pills .nav-link.active {
    border-left: 0;
    border-bottom: 4px solid #ff9700;
  }

  .Account .tab-content {
    margin-top: 20px;
  }
}
