.Account {
  padding-top: 50px;
  margin-top: -50px;
  padding-bottom: 50px;
}

.Account .header {
  margin-bottom: 20px;
}

.Account .form-group {
  margin-bottom: 20px;
}

.Account .nav-pills {
  margin-left: 5px;
  position: sticky;
  top: 10px;
  transition: top 0.3s ease-out;
}

.Account .nav-pills.is-header-sticky {
  top: 75px;
}

.Account .nav-pills .nav-link {
  padding: 0.75rem 1rem;
}

.Account .nav-pills .nav-link.active {
  background-color: inherit;
  color: inherit;
  font-weight: bold;
  border-left: 2px solid #ff9700;
  border-radius: 0;
  padding-left: 0.9rem;
}

.Account .list-group-item {
  padding: 10px 5px;
  border: 0;
}

.Account .list-group-item span.badge {
  margin-right: 8px;
  margin-top: 3px;
  float: left;
  height: 16px;
  text-transform: uppercase;
}

.Account .list-group-item a:hover {
  text-decoration: underline;
}

.Account .list-group-item-light {
  color: #333;
}

.Account .account-form-wrapper {
  max-width: 500px;
}

.Account .social-login {
  overflow: auto;
  padding-top: 8px;
}

.Account .social-icon {
  margin-top: -2px;
  float: left;
  height: 20px;
  font-size: 20px;
}

.Account .picture-container {
  position: relative;
}

.Account .picture-container .edit-button,
.Account .avatar-editor button.cancel-button {
  line-height: 1rem;
  position: absolute;
  width: 90px;
  left: 0;
  bottom: -2px;
}

.Account .picture-container .edit-button button {
  line-height: 1rem;
}

.Account .picture-container .edit-button button svg {
  font-size: 0.75rem;
  margin-right: 2px;
}

.Account .picture-container .edit-button button::after {
  vertical-align: 0.1em;
}

.Account .picture-container .edit-button .dropdown-menu {
  font-size: 0.95rem;
}

.Account .picture-container .edit-button .dropdown-menu a {
  padding: 0.4rem 1.5rem;
}

.Account .picture-container .edit-button .dropdown-menu a .edit-icon {
  margin-left: -5px;
  margin-right: 10px;
  float: left;
  font-size: 0.9rem;
  width: 15px;
}

.Account .avatar-editor button.cancel-button {
  width: 75px;
  position: inherit;
  margin-top: 10px;
}

.Account .avatar-editor button.cancel-button svg {
  margin-right: 2px;
}

.Account .avatar-editor > div {
  border-radius: 0.25rem;
  position: relative;
  width: 150px;
}

.Account .avatar-editor > div > div {
  justify-content: left !important;
}

.Account .avatar-editor input {
  width: 100% !important;
  height: 99% !important;
  z-index: 1 !important;
  cursor: pointer;
}

.Account small.text-muted {
  display: block;
  margin-top: 10px;
}

.Account .verify-email-modal-contents {
  padding: 50px 0;
  margin: 0 auto;
  max-width: 320px;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .Account .col-sm-2 {
    margin-top: -15px;
  }

  .Account .nav-pills {
    display: inline-block;
    position: initial;
    border: 0 !important;
    margin-left: 0;
    white-space: nowrap;
    width: 100%;
    height: 45px;
    overflow: scroll;
  }

  .Account .nav-item {
    display: inline-block;
    border-bottom: 0 !important;
  }

  .Account .nav-pills .nav-link.active {
    border-left: 0;
    border-bottom: 4px solid #ff9700;
  }

  .Account .tab-content {
    margin-top: 20px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .Account .nav-pills .nav-link {
    padding: 0.5rem;
  }

  .Account .nav-pills .nav-link.active {
    padding: 0.5rem;
  }
}
