.EditorPanel {
  position: sticky;
  top: 55px;
  border: 1px solid #dee2e6;
  margin-bottom: -40px;
  border-radius: .25rem .25rem 0 0;
  background: #ffffff;
  overflow: auto;
  z-index: 2;
}

.EditorPanel .btn-group {
  width: 100%;
}

.EditorPanel .btn-group .btn {
  border-radius: 0;
}

.EditorPanel .btn-group .btn:hover {
  text-decoration: none;
}

.EditorPanel .btn-group .btn span {
  font-size: 13px;
  color: #444444;
  margin-left: 5px;
}

.EditorPanel .btn-group .btn:not(:first-child) {
  margin-left: 0;
}
