@font-face {
  font-family: "Minlo";
  src: url("webfonts/Minlo-Regular.eot");
  src: url("webfonts/Minlo-Regular.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Minlo-Regular.woff") format("woff"),
    url("webfonts/Minlo-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("webfonts/Poppins-Bold.eot");
  src: url("webfonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Poppins-Bold.woff") format("woff"),
    url("webfonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("webfonts/Poppins-Medium.eot");
  src: url("webfonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Poppins-Medium.woff") format("woff"),
    url("webfonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("webfonts/Poppins-Light.eot");
  src: url("webfonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Poppins-Light.woff") format("woff"),
    url("webfonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("webfonts/Poppins-SemiBold.eot");
  src: url("webfonts/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Poppins-SemiBold.woff") format("woff"),
    url("webfonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("webfonts/Poppins-Regular.eot");
  src: url("webfonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("webfonts/Poppins-Regular.woff") format("woff"),
    url("webfonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
