.Comments h6.comment-heading {
  margin-top: 30px;
}

.Comments .comment {
  display: flex;
  position: relative;
  padding: 0.5rem;
}

.Comments .comment .comment {
  padding: 1rem 0 0 0;
  margin: 0;
  clear: both;
}

.Comments .comment .pic-col {
  flex: 0 0 50px;
  padding-top: 2px;
}

.Comments .comment .pic-col p {
  font-size: 34px;
}

.Comments .comment img.author-pic {
  height: 36px;
}

.Comments .comment .content-col {
  flex: 1;
}

.Comments .comment .author-meta-row {
  margin-bottom: 1px;
}

.Comments .comment .content-col textarea {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
}

.Comments .comment .content-col textarea.focus {
  height: 80px;
}

.Comments .comment .content-col textarea::placeholder {
  font-size: 14px;
}

.Comments .comment .content-col textarea.reply-area::placeholder {
  font-size: inherit;
}

.Comments .comment .cancel-input {
  font-size: 14px;
}

.Comments .comment .content-col button {
  margin-top: 0;
}

.Comments .comment .content-col button.comment-submit {
  font-size: 14px;
}

.Comments .comment p {
  font-size: 14px;
  margin-bottom: 0;
}

.Comments .comment .delete-comment {
  font-size: 13px;
}

.Comments .comment .delete-comment button {
  color: inherit;
  height: 25px;
}

.Comments .comment .content-col .comment-actions-row button.comment-action-btn {
  padding: 0;
  color: inherit;
  text-decoration: none;
  margin-top: 0;
}

.Comments
  .comment
  .content-col
  .comment-actions-row
  button.comment-action-btn.is-active {
  font-weight: bold;
}

.Comments .comment .content-col .comment-actions-row button .heartFilled {
  color: #ff9800;
  opacity: 0.9;
}

.Comments .comment .content-col .comment-actions-row .like-text {
  margin: 0 4px;
  cursor: default;
}
