.App *:focus {
  outline: none;
}

.App .navbar {
  background: #093579;
  color: #dddddd;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.App .navbar .container {
  position: relative;
}

.App .navbar a {
  color: #dddddd;
}

.App .navbar .navbar-brand {
  padding-right: 10px;
}

.App .navbar .navbar-brand a {
  color: #ffffff;
  font-family: "DINNextLTPro-Heavy", sans-serif;
}

.App .navbar .navbar-brand a p {
  padding-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: -0.5px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 1.25rem;
}

.App .navbar .navbar-brand a span {
  font-family: "DINNextLTPro-Regular", sans-serif;
  margin-left: 2px;
}

.App .navbar .navbar-brand a img {
  height: 55px;
  margin-top: -10px;
}

.App .navbar .navbar-nav {
  padding-top: 5px;
  padding-bottom: 10px;
}

.App .navbar .navbar-nav .nav-link {
  color: #ffffff;
  padding-bottom: 14px;
  margin-bottom: -4px;
}

.App .navbar .navbar-nav .dropdown-item:focus {
  color: #212529;
  background: initial;
}

.App .navbar .navbar-nav .dropdown-item {
  color: #212529;
}

.App .navbar .navbar-nav a:hover {
  color: #ff9700;
}

.App .navbar .navbar-nav .nav-link.active {
  color: #ffffff;
}

.App .navbar .navbar-nav .nav-link.active:hover {
  color: #ff9700;
}

.App .navbar button {
  width: 50px;
}

.App .navbar .navbar-toggler {
  padding-left: 0.6rem;
}

.App .navbar .search-button {
  display: none;
  height: 40px;
  position: absolute;
  right: 60px;
  color: #bbbbbb;
  top: 10px;
}

.App .navbar .search-form {
  width: 100%;
  margin-right: 50px;
}

.App .navbar .search-form input {
  width: 100%;
  border: 0;
  background: #082c63;
  color: #ffffff;
  max-width: 650px;
}

.App .navbar .search-form .clear-search {
  display: none;
}

.App .navbar .dropdown.nav-item {
  width: 100px;
}

.App .navbar .dropdown-menu .dropdown-item:hover {
  color: #072e69;
}

.App .navbar .dropdown .active {
  background: initial;
}

.App .navbar .dropdown .active:hover {
  background: #f8f9fa;
}

.App .navbar .dropdown-toggle::after {
  margin-left: .55em;
  vertical-align: 0.15em;
}

.App .contents {
  min-height: calc(100vh - 356px);
}

/* Tiny devices (mobiles, less than 350px) */
@media (max-width: 350px) {
  .App .navbar .search-button {
    display: none !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .App .navbar .search-button {
    display: inline-block;
  }

  .App .navbar .search-form {
    display: none;
  }

  .App .navbar .search-form.show-search {
    display: block;
    position: absolute;
    top: 0;
    z-index: 2000;
    width: 100%;
    height: 58px;
    padding-top: 9px;
    overflow: visible;
    background: #093579;
  }

  .App .navbar .search-form.show-search .clear-search {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 19px;
  }

  .App .navbar .dropdown.nav-item {
    width: 100%;
  }

  .App .navbar .dropdown-menu {
    background: #072e69;
    border: 0;
    border-radius: 0;
  }

  .App .navbar .navbar-nav .dropdown-item {
    color: #dddddd;
  }

  .App .navbar .navbar-nav .dropdown-item:hover {
    background: inherit;
  }

  .App .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top: 1px solid #093579;
  }

  .App .navbar .dropdown-menu .dropdown-item:hover {
    color: #ff9700;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App .contents {
    padding: 0 25px;
  }

  .App .navbar .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .App .navbar .navbar-nav {
    padding-bottom: 0;
  }

  .App .navbar .navbar-nav .nav-link.active {
    border-bottom: 3px solid #ff9700;
    padding-bottom: 10px;
    margin-bottom: -7px;
    margin-top: -12px;
    background: #082c63;
    padding-top: 20px;
  }
}