.App *:focus {
  outline: none;
}

.App .contents {
  min-height: calc(100vh - 356px);
}

.App .contents h2 {
  font-size: 2.5rem;
}

.loading-modal-contents .spinning {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.App .dropdown-item:focus,
.App .dropdown-item:hover,
.App .dropdown-item.active:hover {
  color: inherit;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
