.App *:focus {
  outline: none;
}

.App .navbar {
  color: #dddddd;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.App .navbar .container {
  position: relative;
}

.App .navbar a {
  color: #dddddd;
}

.App .navbar .navbar-brand {
  padding-right: 10px;
}

.App .navbar .navbar-brand a {
  color: #ffffff;
  font-family: "DINNextLTPro-Heavy", sans-serif;
}

.App .navbar .navbar-brand a h1 {
  padding-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.4;
  margin-top: 0;
}

.App .navbar .navbar-brand a span {
  font-family: "DINNextLTPro-Regular", sans-serif;
  margin-left: 2px;
}

.App .navbar .navbar-brand a img {
  height: 50px;
  margin-top: -7px;
}

.App .navbar .navbar-nav {
  padding-top: 5px;
  padding-bottom: 10px;
}

.App .navbar .navbar-nav .nav-link {
  color: #fff;
  padding-bottom: 14px;
  margin-bottom: -4px;
  white-space: nowrap;
  font-size: 0.92rem;
  letter-spacing: 0.4px;
}

.App .navbar .navbar-nav .dropdown-item:focus {
  color: #000;
  background: initial;
}

.App .navbar .navbar-nav .dropdown-item {
  color: #000;
  font-size: 0.92rem;
  letter-spacing: 0.4px;
}

.App .navbar .navbar-nav a:hover {
  color: #ff9700;
}

.App .navbar .navbar-nav .nav-link.active {
  color: #ffffff;
}

.App .navbar .navbar-nav .nav-link.active:hover {
  color: #ff9700;
}

.App .navbar .navbar-nav .nav-link .user-icon {
  margin-right: 2px;
  margin-left: 2px;
  padding-top: 2px;
}

.App .navbar .navbar-nav .dropdown > .nav-link .user-icon {
  margin-top: 2px;
  float: left;
}

.App .navbar .navbar-nav .nav-link .user-dp {
  height: 20px;
  margin-top: 0;
  margin-right: 2px;
  float: left;
}

.App .navbar .navbar-nav .nav-link .user-name {
  max-width: 55px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  margin-left: 2px;
}

.App .navbar button {
  width: 50px;
}

.App .navbar .navbar-toggler {
  padding-left: 0.6rem;
}

.App .navbar .search-button {
  display: none;
  height: 40px;
  position: absolute;
  right: 75px;
  color: #bbbbbb;
  top: 8px;
}

.App .navbar .search-form {
  width: 100%;
  margin-right: 50px;
}

.App .navbar .search-form .search-input {
  width: 100%;
}

.App .navbar .search-form .search-input a {
  color: inherit;
}

.App .navbar .search-form input {
  width: 100%;
  border: 0;
  transition: background 0.25s;
}

.App .navbar .search-form .clear-search {
  display: none;
}

.App .navbar .search-form input:focus + .clear-search {
  color: #3f474e;
}

.App .navbar .search-form .rbt-loader {
  color: #3f474e;
}

.App .navbar .dropdown.nav-item {
  width: 100px;
}

.App .navbar .dropdown-menu .dropdown-item:hover {
  color: inherit;
}

.App .navbar .dropdown .account-icon {
  margin-left: -5px;
  margin-right: 10px;
  float: left;
  margin-top: 3px;
  font-size: 0.9rem;
}

.App .navbar .dropdown-toggle::after {
  margin-left: 0.55em;
  vertical-align: 0.15em;
}

.App .contents {
  min-height: calc(100vh - 356px);
}

.App .contents h2 {
  font-size: 2.5rem;
}

.loading-modal-contents .spinning {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.App .dropdown-item:focus,
.App .dropdown-item:hover,
.App .dropdown-item.active:hover {
  color: inherit;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

/* Tiny devices (mobiles, less than 350px) */
@media (max-width: 350px) {
  .App .navbar .search-button {
    display: none !important;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .App .navbar .search-button {
    display: inline-block;
  }

  .App .navbar .search-form {
    display: none;
  }

  .App .navbar .search-form input {
    max-width: none;
  }

  .App .navbar .search-form.show-search {
    display: block;
    position: absolute;
    top: 0;
    z-index: 2000;
    width: calc(100% - 2rem);
    height: 58px;
    padding-top: 9px;
    overflow: visible;
  }

  .App .navbar .search-form.show-search .clear-search {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    font-size: 20px;
    top: 19px;
    color: #3f474e;
  }

  .App .navbar .dropdown.nav-item {
    width: 100%;
  }

  .App .navbar .dropdown-menu {
    border: 0;
    border-radius: 0;
  }

  .App .navbar .search-form .dropdown-menu {
    border-radius: 0.25rem;
  }

  .App .navbar .navbar-nav .dropdown-item {
    color: #dddddd;
  }

  .App .navbar .navbar-nav .dropdown-item:hover {
    background: inherit;
  }

  .App .navbar .dropdown-menu .dropdown-item:hover {
    color: #ff9700;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App .navbar .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .App .navbar .navbar-nav .nav-link.user-link,
  .App .navbar .navbar-nav .dropdown > .nav-link {
    padding-left: 0.4rem;
  }

  .App .navbar .navbar-nav {
    padding-bottom: 0;
  }

  .App .navbar .navbar-nav .nav-link.active {
    border-bottom: 2px solid #ff9700;
    padding-bottom: 10px;
    margin-bottom: -6px;
    margin-top: -12px;
    padding-top: 20px;
  }
}
