.App *:focus {
  outline: none;
}

.App .collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.App .navbar {
  background: #093579;
  color: #dddddd;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
}

.App .navbar .container {
  position: relative;
}

.App .navbar a {
  color: #dddddd;
}

.App .navbar .navbar-brand {
  padding-right: 10px;
}

.App .navbar .navbar-brand a {
  color: #ffffff;
  font-family: "DINNextLTPro-Heavy", sans-serif;
}

.App .navbar .navbar-brand a p {
  padding-top: 13px;
  display: inline-block;
  margin-bottom: 0;
  letter-spacing: -0.5px;
  margin-left: 5px;
  color: #ffffff;
  font-size: 1.25rem;
}

.App .navbar .navbar-brand a span {
  font-family: "DINNextLTPro-Regular", sans-serif;
  margin-left: 2px;
}

.App .navbar .navbar-brand a img {
  height: 55px;
  margin-top: -10px;
}

.App .navbar .navbar-nav {
  padding-top: 5px;
  padding-bottom: 10px;
}

.App .navbar .navbar-nav .nav-link {
  color: #ffffff;
  padding-bottom: 14px;
  margin-bottom: -4px;
}

.App .navbar .navbar-nav a:hover {
  color: #ff9700;
}

.App .navbar .navbar-nav .nav-link.active {
  color: #ffffff;
}

.App .navbar .navbar-nav .nav-link.active:hover {
  color: #ff9700;
}

.App .navbar .search-button {
  display: none;
  height: 40px;
  position: absolute;
  right: 70px;
  color: #bbbbbb;
}

.App .navbar .search-form {
  width: 100%;
  margin-right: 50px;
}

.App .navbar .search-form input {
  width: 100%;
  border: 0;
  background: #082c63;
  color: #ffffff;
  max-width: 650px;
}

.App .navbar .search-form .clear-search {
  display: none;
}

.App .contents {
  min-height: calc(100vh - 356px);
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .App .navbar .show-search {
    display: block;
    height: 0;
    overflow: hidden;
  }

  .App .navbar .search-form.fixed-search {
    width: calc(100% - 2rem);
    position: fixed;
    top: 5px;
    height: 50px;
    background: #093579;
  }

  .App .navbar .search-form.fixed-search .clear-search {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 10px;
    font-size: 20px;
  }

  .App .navbar .search-button {
    display: inline-block;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .App .contents {
    padding: 0 25px;
  }

  .App .navbar .navbar-nav .nav-link {
    padding-right: 0.8rem;
    padding-left: 0.8rem;
  }

  .App .navbar .navbar-nav {
    padding-bottom: 0;
  }

  .App .navbar .navbar-nav a.active {
    border-bottom: 3px solid #ff9700;
    padding-bottom: 10px;
    margin-bottom: -7px;
    margin-top: -12px;
    background: #082c63;
    padding-top: 20px;
  }
}