.App *:focus {
  outline: none;
}

.App .contents,
.loader {
  min-height: 85vh;
}

.loader {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App .contents h2 {
  font-size: 2.5rem;
}

.loading-modal-contents .spinning {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

.App .dropdown-item:focus,
.App .dropdown-item:hover,
.App .dropdown-item.active:hover {
  color: inherit;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
