body {
  margin: 0;
  padding: 0;
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: 0.5s all;
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DINNextLTPro-Heavy", sans-serif;
}

h1 span {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}
