html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
ul li {
  line-height: 1.4;
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

a {
  font-size: inherit;
}

small a {
  font-size: inherit;
}

ul {
  margin-bottom: 2rem;
}

ul li {
  margin-bottom: 0.2rem;
}

code {
  font-family: Minlo, Menlo, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  line-height: 1.25;
  margin-top: 1.5rem;
  font-weight: 700;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 14px;
  padding-top: 0.5rem;
  border-radius: 8px;
  height: calc(2.5rem + 2px);
}

select.form-control::placeholder,
textarea.form-control::placeholder,
input.form-control::placeholder {
  font-size: 15px;
}

input[type="file"] {
  width: 100%;
}
