body {
  margin: 0;
  padding: 0;
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, ul li {
  color: #333333;
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

ul {
  margin-bottom: 2rem;
}

ul li {
  margin-bottom: 0.2rem;
}

a {
  color: #888888;
  letter-spacing: 0.01rem;
}

a:hover {
  color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DINNextLTPro-Heavy", sans-serif;
  line-height: 1.25;
  margin-top: 1.5rem;
}

h1 span {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

/* .btn-primary {
  color: #fff;
  background-color: #093579;
  border-color: #093579;
}

.btn-primary:hover {
  background-color: #082c63;
  border-color: #082c63;
} */