body {
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, ul li {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 1.5rem;
}

ul {
  margin-bottom: 2rem;
}

ul li {
  margin-bottom: 0.2rem;
}

small a {
  letter-spacing: 0.01rem;
}

code {
  font-family: Minlo, Menlo, monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DINNextLTPro-Heavy", sans-serif;
  line-height: 1.25;
  margin-top: 1.5rem;
}

h1 span {
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", sans-serif;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type=file] {
  width: 100%;
}

/* .btn-primary {
  color: #fff;
  background-color: #093579;
  border-color: #093579;
}

.btn-primary:hover {
  background-color: #082c63;
  border-color: #082c63;
} */